<footer>
    <div class="container">
        <h3>Danh mục</h3>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 col-xl-3 footer__list">
                <a href="#">Thuốc</a>
                <div class="footer__items">
                    <a href="#">Hóa mỹ phẩm</a>
                    <a href="#">BCS</a>
                    <a href="#">Thiết bị</a>
                    <a href="#">Thuốc tây</a>
                    <a href="#">Khẩu trang</a>
                    <a href="#">Khẩn cấp</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-xl-3 footer__list">
                <a href="#">Thuốc</a>
                <div class="footer__items">
                    <a href="#">Hóa mỹ phẩm</a>
                    <a href="#">BCS</a>
                    <a href="#">Thiết bị</a>
                    <a href="#">Thuốc tây</a>
                    <a href="#">Khẩu trang</a>
                    <a href="#">Khẩn cấp</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-xl-3 footer__list">
                <a href="#">Thuốc</a>
                <div class="footer__items">
                    <a href="#">Hóa mỹ phẩm</a>
                    <a href="#">BCS</a>
                    <a href="#">Thiết bị</a>
                    <a href="#">Thuốc tây</a>
                    <a href="#">Khẩu trang</a>
                    <a href="#">Khẩn cấp</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-xl-3 footer__list">
                <a href="#">Thuốc</a>
                <div class="footer__items">
                    <a href="#">Hóa mỹ phẩm</a>
                    <a href="#">BCS</a>
                    <a href="#">Thiết bị</a>
                    <a href="#">Thuốc tây</a>
                    <a href="#">Khẩu trang</a>
                    <a href="#">Khẩn cấp</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-xl-3 footer__list">
                <a href="#">Thuốc</a>
                <div class="footer__items">
                    <a href="#">Hóa mỹ phẩm</a>
                    <a href="#">BCS</a>
                    <a href="#">Thiết bị</a>
                    <a href="#">Thuốc tây</a>
                    <a href="#">Khẩu trang</a>
                    <a href="#">Khẩn cấp</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-xl-3 footer__list">
                <a href="#">Thuốc</a>
                <div class="footer__items">
                    <a href="#">Hóa mỹ phẩm</a>
                    <a href="#">BCS</a>
                    <a href="#">Thiết bị</a>
                    <a href="#">Thuốc tây</a>
                    <a href="#">Khẩu trang</a>
                    <a href="#">Khẩn cấp</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-xl-3 footer__list">
                <a href="#">Thuốc</a>
                <div class="footer__items">
                    <a href="#">Hóa mỹ phẩm</a>
                    <a href="#">BCS</a>
                    <a href="#">Thiết bị</a>
                    <a href="#">Thuốc tây</a>
                    <a href="#">Khẩu trang</a>
                    <a href="#">Khẩn cấp</a>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-3 col-sm-3 col-xl-3 p-0">
                <h3>Công ty</h3>
                <ul class="">
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Trung tâm Trợ giúp</a></li>
                    <li><a href="#">Quy chế</a></li>
                    <li><a href="#">Điều khoản sử dụng</a></li>
                    <li><a href="#">Bảo mật thông tin</a></li>
                    <li><a href="#">Giải quyết khiếu nại</a></li>
                    <li><a href="#">Liên hệ</a></li>
                    <li><a href="#">Hợp tác nhân viên giao nhận</a></li>
                    <li><a href="#">Đăng ký quán</a></li>
                    <li><a href="#">ShopeeFood Uni</a></li>
                </ul>
            </div>
            <div class="footer-col col-md-2 col-sm-2 col-xl-2 p-0">
                <h3>Ứng dụng ShopeeFood</h3>
                <ul class="">
                    <li><a href="#"><img src="../img/AppStore-vn.png" alt=""></a></li>
                    <li><a href="#"><img src="../img/PlayStore-vn.png" alt=""></a></li>
                    <li><a href="#"><img src="../img/Huawei-gallery-vn.png" alt=""></a></li>
                </ul>
            </div>
            <div class="footer-col col-md-2 col-sm-1 col-xl-2 p-0">
                <ul class="">
                    <li><img src="../img/Logo-ShopeefoodVN.png" alt=""></li>
                    <li>© 2021 ShopeeFood</li>
                    <div class="row">
                        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </div>
                </ul>
            </div>
            <div class="footer-col col-md-5 col-sm-5 col-xl-5 p-0">
                <h3>Địa chỉ công ty</h3>
                <ul class="">
                    <li>Công Ty Cổ Phần Foody</li>
                    <li>Lầu G, Tòa nhà Jabes 1,</li>
                    <li>số 244 đường Cống Quỳnh, phường Phạm Ngũ Lão, Quận 1, TPHCM</li>
                    <li>Giấy CN ĐKDN số: 0311828036</li>
                    <li>do Sở Kế hoạch và Đầu tư TP.HCM cấp ngày 11/6/2012,</li>
                    <li>sửa đổi lần thứ 23, ngày 10/12/2020</li>
                    <li>Số điện thoại: 1900 2042</li>
                    <li>Email: info@shopeefood.vn</li>
                    <li><img src="../img/gov_seals1.jpg" alt=""></li>
                </ul>
            </div>
        </div>
    </div>

</footer>