<header id="header">
    <div class="container-header">
        <div class="container p-2">
            <div class="row p-2 justify-content-between align-items-center">
                <div class="col-2 p-0">
                    <a href="/">
                        <img class="shopeefoodlogo" src="../img/shopeefoodvn.png" alt="">
                    </a>
                </div>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle fz-14" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Đà Nẵng
                    </button>
                    <div class="dropdown-menu" style="left: unset !important"
                        aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item bg-light" href="#">
                            <span>Hà Nội</span>
                            <span>1000000 địa điểm</span>
                        </a>

                        <a class="dropdown-item bg-light" href="#">
                            <span>TP. HCM</span>
                            <span>1 địa điểm</span>
                        </a>
                        <a class="dropdown-item bg-light" href="#">
                            <span>Hải Phòng</span>
                            <span>1 địa điểm</span>
                        </a>
                    </div>
                </div>
                <nav class="flex justify-content-start">
                    <div class="nav-item active-color">
                        <a href="#" class="">
                            <img style="display: none;" src="../img/imgsmall1.png" alt="">
                            <p>Đồ ăn</p>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a href="#">
                            <img style="display: none;" src="../img/imgsmall2.png" alt="">
                            <p>Thực phẩm</p>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a href="#">
                            <img style="display: none;" src="../img/imgsmall3.png" alt="">
                            <p>Bia</p>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a href="#">
                            <img style="display: none;" src="../img/imgsmall4.png" alt="">
                            <p>Hoa</p>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a href="#">
                            <img style="display: none;" src="../img/imgsmall5.png" alt="">
                            <p>Siêu thị</p>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a href="#">
                            <img style="display: none;" src="../img/imgsmall6.png" alt="">
                            <p>Thuốc</p>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a href="#">
                            <img style="display: none;" src="../img/imgsmall7.png" alt="">
                            <p>Thú cưng</p>
                        </a>
                    </div>
                </nav>
                <div class="col-2 flex align-items-center justify-content-end">
                    <div class="btn-search pr-3">
                        <i class="fas fa-shopping-cart"></i>
                        <div class="qty">
                            <p>0</p>
                        </div>
                    </div>
                    <div class="btn-login">
                        <a href="/login" class="btn">Đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>