 <!-- Modal -->

 <div class="scroll-to-top">
    <a href="#header" class="scroll__top">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </a>
</div>

<!-- Cart -->

<div class="cart">
    <div class="cart-wrapper">
        <div class="cart-container">
            <div class="cart__header">
                <h1>Thanh toán</h1>
            </div>
            <div class="cart__list">
                
            </div>
            <div class="cart__footer">
            </div>
            <div class="close__cart">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>